# Pine Labs API Configuration
# Get these from Pine Labs Dashboard: https://dashboard.pluralpay.in

# UAT Environment (for testing)
PINELABS_MERCHANT_ID=<your-murchant-id>
PINELABS_CLIENT_ID=your-client-id>
PINELABS_CLIENT_SECRET=<your-client-secret-key>
PINELABS_ENVIRONMENT=UAT

# Production Environment (uncomment when going live)
# PINELABS_ENVIRONMENT=PRODUCTION

# Product Configuration
PRODUCT_NAME=Generative AI Course
PRODUCT_PRICE=9999
